<div id="footer" >
	<!--<div id="" class="nav1" ng-click="change()">
		<a href="#/liaotian">1</a>
	</div>
	<div id="" class="nav2" ng-click="change()">
		<a href="#/lianxiren">2</a>
	</div>
	<div id="" class="nav3" ng-click="change()">
		<a href="#/pengyouquan">3</a>
	</div>
	<div id="" class="nav4" ng-click="change()">
		<a href="#/wo">4</a>
	</div>-->
	<div class="nav">
		<ul class="nav-inner">
			<li class="nav1 aa" ng-click="change()">
				<a href="#/liaotian">
					<div class="img"></div>
					<div class="word">
						微信
					</div>
				</a>
			</li>
			
			<li class="nav2" ng-click="change()">
				<a href="#/lianxiren">
					<div class="img"></div>
					<div class="word">
						通讯录
					</div>
				</a>
			</li>
			<li class="nav3" ng-click="change()">
				<a href="#/pengyouquan">
					<div class="img"></div>
					<div class="word">
						发现
					</div>
				</a>
			</li>

			<li class="nav4" ng-click="change()">
				<a href="#/wo">
					<div class="img"></div>
					<div class="word">
						我
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>